<div ng-controller="InstructionsCtrl as instructions">
  <h1>Spritual Gifts Assessment Test</h1>
  <a class="btn btn-lg btn-primary" href="#!/quiz">Start Assessment Test</a>
  <h2 ng-if="!instructions.allExpanded">
    <span class="glyphicon glyphicon-plus" ng-click="instructions.expandAll()"></span>
    Expand All
  </h2>
  <h2 ng-if="instructions.allExpanded">
    <span class="glyphicon glyphicon-minus" ng-click="instructions.collapseAll()"></span>
    Collapse All
  </h2>
  <div class="panel panel-default" ng-repeat="gift in instructions.quizData.gifts | orderBy : 'name'">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a
          href
          data-toggle="collapse"
          data-target="#details-{{gift.name}}"
          aria-expanded="true">
          {{gift.name}}
        </a>
      </h2>
      <p>{{gift.description}}</p>
    </div>
    <div
      id="details-{{gift.name}}"
      class="panel-collapse collapse in"
      ng-include="'gift_partials/' + gift.name.toLowerCase() + '.html'">
    </div>
  </div>
</div>
