<div>
  <div class="panel-heading expand-all text-right">
    <a
      href
      ng-attr-aria-expanded="{{gifts.allExpanded}}"
      ng-click="gifts.toggleExpandAll()">
      {{gifts.allExpanded ? 'Collapse' : 'Expand'}} All
    </a>
  </div>
  <div class="panel panel-default" ng-repeat="gift in gifts.quizData.gifts | orderBy : gifts.sort : gifts.reverse">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a
          href
          data-toggle="collapse"
          data-target="#details-{{gift.name}}"
          aria-expanded="true">
          {{gift.name}}
          <span ng-if="gifts.showScore" class="score">Score: {{gift.score | number : 0}}%</span>
        </a>
      </h2>
      <p>{{gift.description}}</p>
    </div>
    <div
      id="details-{{gift.name}}"
      class="panel-collapse collapse"
      ng-class="{ 'in': gifts.initialExpandAll, 'out': !gifts.initialExpandAll }"
      ng-include="'gift_partials/' + gift.name.toLowerCase() + '.html'">
    </div>
  </div>
</div>
