/* app css stylesheet */

.answers {
  display: flex;
  flex-wrap: wrap;
}

.answers > * {
  margin: 20px;
  white-space: initial;
  width: calc(50% - 40px); // 2 across
}

@media only screen and (min-width: 768px) {
  .answers > * {
    width: calc(25% - 40px); // 4 across
  }
}

.score {
  padding-left: 20px;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
}
